:root{
    font-family: 'Apercu Pro', sans-serif;
}

body,html{
  overflow: hidden;
}

body{
    background: url(./background.png);
    color: #333;
    background-size: cover;
    background-position: 0% 0%;
    background-position: center;
    background-repeat: no-repeat;
    margin: 0;
    width: 100vw;
    height: 100vh;
}


/* header */

header{
    /* background-color: #000000; */
    height: 10vh;
    top: 0;
    width: 100%;
    position: absolute;
}

nav {
    /* background-color: blue; */
    width: 50%;
    top: 50%;
    left: 50%;
    height: 10vh;
    position: absolute;
    transform: translate(-50%, -50%);
    display: flex;
}

nav a{
    list-style: none;
    letter-spacing: 2px;
    text-decoration: none;
    color: #ffffff;
    font-weight: 200;
}

.left{
    position: absolute;
    left: 0;
    top: 50%;    
    transform: translate(0%, -50%);
    word-spacing: 50px;
}

.right{
    position: absolute;
    right: 0;
    top: 50%;    
    transform: translate(0%, -50%);
    word-spacing: 50px;
}

.middle{
    position: absolute;
    left: 50%;
    top: 50%;    
    transform: translate(-50%, -50%);
}

.add{
    position: absolute;
    left: 25%;
    top: 25%;    
    transform: translate(-50%, -50%);
    text-decoration: none;
}

.right-1{
  position: absolute;
  right: 5%;
  top: 50%;    
  transform: translate(0%, -50%);
  word-spacing: 50px;
}

h2{
    list-style: none;
    letter-spacing: 2px;
    text-decoration: none;
    color: #ffffff;
    font-weight: 200;
}

.right-h3{
    list-style: none;
    letter-spacing: 2px;
    text-decoration: none;
    color: #ffffff;
    font-weight: 200;
}

.middle-h3{
  position: relative;
  color: #ffff;
  text-align: center;
  letter-spacing: 15px;
  font-size: 20px;
}

h1{
    color: #ffff;
    text-align: center;
    letter-spacing: 20px;
    font-size: 50px;
    text-shadow: 7px 7px rgba(255, 255, 255, 0.2);
}

.error{
  color: #ffff;
  text-align: center;
  letter-spacing: 20px;
  font-size: 50px;
  position: relative;
  top: 40%;
  text-shadow: 7px 7px rgba(255, 255, 255, 0.2);
}

@media screen and (max-width: 550px) {

  .right{
    display: none;
  }

  nav{
    display: none;
  }

  h1{
  font-size: 20px;
  letter-spacing: 5px;
}

.middle-h3{
  font-size: 2vw;
  letter-spacing: 5px;
}
}

.h1-container{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
}


/* ----------------------------------------------- hamburger ------------------------------------------------- */
  
  .btn3 {
    position: absolute;
    width: 40px;
    height: 40px;
    left: 50px;
    margin: 20px;
    z-index: 999;
    transition-duration: 0.5s;
  }
  .btn3 .icon {
    transition-duration: 0.5s;
    position: absolute;
    height: 0px;
    width: 40px;
    top: 30px;
    background-color: #ffffff;
  }
  .btn3 .icon:before {
    transition-duration: 0.5s;
    position: absolute;
    width: 40px;
    height: 6px;
    background-color: #ffffff;
    content: "";
    top: -20px;
    border-radius: 10px;
  }
  .btn3 .icon:after {
    transition-duration: 0.5s;
    position: absolute;
    width: 30px;
    height: 6px;
    border-radius: 10px;
    background-color: #ffffff;
    content: "";
    top: 0px;
  }
  .btn3.open .icon {
    transition-duration: 0.5s;
  }
  .btn3.open .icon:before {
    transform: rotateZ(135deg) scaleX(1.25) translate(13px, -13px);
  }
  .btn3.open .icon:after {
    transform: rotateZ(-135deg) scaleX(1.25) translate(0px, 0px);
    width: 40px;
  }
  .btn3:hover {
    cursor: pointer;
  }
  
  table {
    margin: 0 auto;
    padding-top: 50px;
}

.w3-table-all {
    border-collapse: collapse;
    width: auto;
    margin: 0 auto;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    
}

.w3-table-all th, .w3-table-all td {
    padding: 12px;
    text-align: left;
    border-bottom: 1px solid #ddd;
}

.w3-table-all th {
    background-color: #f2f2f2;
}

.w3-table-all tr:nth-child(even) {
    background-color: #f2f2f2;
}

.table-row:nth-child(even) {
background-color: #f2f2f2;
}

.table-row td {
    padding: 12px;
    text-align: left;
    border-bottom: 1px solid #ddd;
}

/* --------------------------------- login ---------------------------------- */

.container-login{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  max-width: 700px;
  background-color: #fff;
  padding: 25px 30px;
  border-radius: 5px;
  box-shadow: 0 5px 10px rgba(0,0,0,0.15);
}
.container-login .title{
  font-size: 25px;
  font-weight: 500;
  position: relative;
}
.container-login .title::before{
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  height: 3px;
  width: 30px;
  border-radius: 5px;
  background: linear-gradient(135deg, #f9966c, #ff3153);
}
 
/* --------------------------------- sign up ---------------------------------- */

.container{
  max-width: 700px;
  background-color: #fff;
  padding: 25px 30px;
  border-radius: 5px;
  box-shadow: 0 5px 10px rgba(0,0,0,0.15);
  top: 15%;
  left: 25%;
  position: absolute;  
}
.container .title{
  font-size: 25px;
  font-weight: 500;
  position: relative;
}
.container .title::before{
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  height: 3px;
  width: 30px;
  border-radius: 5px;
  background: linear-gradient(135deg, #f9966c, #ff3153);
}
.content form .user-details{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 20px 0 12px 0;
}
form .user-details .input-box{
  margin-bottom: 15px;
  width: calc(100% / 2 - 20px);
}
form .input-box span.details{
  display: block;
  font-weight: 500;
  margin-bottom: 5px;
}
.user-details .input-box input{
  height: 45px;
  width: 100%;
  outline: none;
  font-size: 16px;
  border-radius: 5px;
  padding-left: 15px;
  border: 1px solid #ccc;
  border-bottom-width: 2px;
  transition: all 0.3s ease;
}
.user-details .input-box input:focus,
.user-details .input-box input:valid{
  border-color: #ff3153;
}
 form .gender-details .gender-title{
  font-size: 20px;
  font-weight: 500;
 }
 form .category{
   display: flex;
   width: 80%;
   margin: 14px 0 ;
   justify-content: space-between;
 }
 form .category label{
   display: flex;
   align-items: center;
   cursor: pointer;
 }
 form .category label .dot{
  height: 18px;
  width: 18px;
  border-radius: 50%;
  margin-right: 10px;
  background: #d9d9d9;
  border: 5px solid transparent;
  transition: all 0.3s ease;
}
 #dot-1:checked ~ .category label .one,
 #dot-2:checked ~ .category label .two,
 #dot-3:checked ~ .category label .three{
   background: #ff3153;
   border-color: #d9d9d9;
 }
 form input[type="radio"]{
   display: none;
 }
 form .button{
   height: 45px;
   margin: 35px 0
 }
 form .button input{
   height: 100%;
   width: 100%;
   border-radius: 5px;
   border: none;
   color: #fff;
   font-size: 18px;
   font-weight: 500;
   letter-spacing: 1px;
   cursor: pointer;
   transition: all 0.3s ease;
   background: linear-gradient(135deg, #ff7135, #ff3153);
 }
 form .button input:hover{
  /* transform: scale(0.99); */
  background: linear-gradient(-135deg, #ff7135, #ff3153);
  }
 @media(max-width: 584px){
 .container{
  max-width: 100%;
}
form .user-details .input-box{
    margin-bottom: 15px;
    width: 100%;
  }
  form .category{
    width: 100%;
  }
  .content form .user-details{
    max-height: 300px;
    overflow-y: scroll;
  }
  .user-details::-webkit-scrollbar{
    width: 5px;
  }
  }
  @media(max-width: 459px){
  .container .content .category{
    flex-direction: column;
  }
} 
