@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';
@import 'tailwindcss/colors';

:root{
  --lightblack: #1d1d1d;
  --lightgrey: #545454;
  --lightblue: #2ebdff;
  --lightpurple: #cc00ff;
  --darkblue:  #405cf5;
}

* {
    font-family: 'Montserrat', sans-serif;
}

html{
    scroll-behavior: smooth;
}

body{    
    margin: 0;
    width: 100vw;
    min-height: 100vh;
    overflow: hidden;
    /* margin-bottom: 500px;  */
}

.extra-space {
  height: 50px; 
  width: 100%;
  position: absolute;
  top: 240%;
  left: 0;
  right: 0;
}

body::-webkit-scrollbar {
  width: 0.5em;
}
 
body::-webkit-scrollbar-track {
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}
 
body::-webkit-scrollbar-thumb {
  background-color: var(--lightgrey);
  border-radius: 10px;
}


/* header */

/* footer{
  position: sticky;
  bottom: 0;
  width: 100%;
  height: 10vh;
  background-color: #ce0808;
  display: flex;
  justify-content: center;
  align-items: center;
} */

header {
  height: 10vh;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 7;
  display: flex;
  justify-content: center;
  border-bottom: 2px solid transparent; 
  transition: background-color 0.3s ease, border-bottom-color 0.3s ease;
}

header.scrolled {
  background-color: #fefefe;
  border-bottom-color: #8d8d8d;
}

.left {
  position: absolute;
  left: 10%;
  margin-top: 35px;
  transform: translate(-50%, -50%);
}

.right {
  position: absolute;
  margin-top: 35px;
  left: 50%;
  word-spacing: 50px;
  transform: translate(-50%, -50%);
}

.right a{
  font-weight: 500;
}

a{
  text-decoration: none;
  color: #000000;
  font-weight: 400;
}

.login {
  position: absolute;
  margin-top: 35px;
  left: 50%;
  word-spacing: 50px;
  transform: translate(-50%, -50%);
  left: 90%;
}

.login a{
  font-weight: 700;
}

.signedin{
  position: absolute;
  margin-top: 35px;
  word-spacing: 50px;
  transform: translate(-50%, -50%);
  left: 90%;
}


/* -------------dropdown------------------------------------------------ */

.dropdown {
  float: left;
  overflow: hidden;
}

.dropdown .btn {
  font-size: 20px;  
  border: none;
  outline: none;
  padding: 14px 16px;
  background-color: inherit;
  font-family: inherit;
  margin: 0;
}


.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  border-radius: 10px;
  width: 100px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  text-align: center;
  font-size: 12px;
  color: black;
  padding: 6px 8px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {
  background-color: #ddd;
  font-size: 12px;
  border-radius: 10px;
}

.dropdown:hover .dropdown-content {
  display: block;
}

/* --------------------------------------------------------- */


.fa fa-caret-down{
  font-size: 20px;
}

.add{
    position: absolute;
    left: 10%;
    top: 15%;    
    transform: translate(-50%, -50%);
    text-decoration: none;
}

.right-1{
  position: absolute;
  right: 5%;
  top: 50%;    
  transform: translate(0%, -50%);
  word-spacing: 50px;
}

h2{
    list-style: none;
    text-decoration: none;
    color: #000000;
    font-weight: 700;
}


.main-paragraph{
  color: #000000;
  font-size: 24px;
  font-weight: 500;
}


h1{
    color: #000000;
    font-size: 40px;
    font-weight: 700; 
}

#textchanger{
  background: -webkit-linear-gradient(135deg, var(--lightblue), var(--lightpurple));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-weight: 900;
}

.error{
  background: -webkit-linear-gradient(135deg, var(--lightblue), var(--lightpurple));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  text-align: center;
  letter-spacing: 20px;
  font-size: 50px;
  position: relative;
  top: 40%;
}

@media screen and (max-width: 550px) {

  .right{
    display: none;
  }

  nav{
    display: none;
  }

  h1{
  font-size: 20px;
  letter-spacing: 5px;
}

.middle-h3{
  font-size: 2vw;
  letter-spacing: 5px;
}
}

.h1-container {
  position: absolute;
  top: 30%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: calc(100% - 10%);
  height: auto;
}

#chart-container {
  position: absolute;
  left: 52%;
  top: 15%;
  width: 500px;
}


/* ----------------------------------------------- hamburger ------------------------------------------------- */
  
  .btn3 {
    position: absolute;
    width: 40px;
    height: 40px;
    left: 50px;
    margin: 20px;
    z-index: 999;
    transition-duration: 0.5s;
  }
  .btn3 .icon {
    transition-duration: 0.5s;
    position: absolute;
    height: 0px;
    width: 40px;
    top: 30px;
    background-color: #ffffff;
  }
  .btn3 .icon:before {
    transition-duration: 0.5s;
    position: absolute;
    width: 40px;
    height: 6px;
    background-color: #ffffff;
    content: "";
    top: -20px;
    border-radius: 10px;
  }
  .btn3 .icon:after {
    transition-duration: 0.5s;
    position: absolute;
    width: 30px;
    height: 6px;
    border-radius: 10px;
    background-color: #ffffff;
    content: "";
    top: 0px;
  }
  .btn3.open .icon {
    transition-duration: 0.5s;
  }
  .btn3.open .icon:before {
    transform: rotateZ(135deg) scaleX(1.25) translate(13px, -13px);
  }
  .btn3.open .icon:after {
    transform: rotateZ(-135deg) scaleX(1.25) translate(0px, 0px);
    width: 40px;
  }
  .btn3:hover {
    cursor: pointer;
  }
  

/* --------------------------------- login ---------------------------------- */

.container-login{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  max-width: 700px;
  background-color: #fff;
  padding: 25px 30px;
  border-radius: 5px;
  box-shadow: 0 5px 10px rgba(0,0,0,0.15);
}
.container-login .title{
  font-size: 25px;
  font-weight: 500;
  position: relative;
}
.container-login .title::before{
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  height: 3px;
  width: 30px;
  border-radius: 5px;
  background: -webkit-linear-gradient(135deg, rgb(46, 189, 255), #cc00ff);
}
 
/* --------------------------------- sign up ---------------------------------- */

.container-signup{
  max-width: 700px;
  background-color: #fff;
  padding: 25px 30px;
  border-radius: 5px;
  box-shadow: 0 5px 10px rgba(0,0,0,0.15);
  top: 15%;
  left: 25%;
  position: absolute;  
}
.container-signup .title{
  font-size: 25px;
  font-weight: 500;
  position: relative;
}
.container-signup .title::before{
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  height: 3px;
  width: 30px;
  border-radius: 5px;
  background: -webkit-linear-gradient(135deg, rgb(46, 189, 255), #cc00ff);
}
.content form .user-details{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 20px 0 12px 0;
}
form .user-details .input-box{
  margin-bottom: 15px;
  width: calc(100% / 2 - 20px);
}
form .input-box span.details{
  display: block;
  font-weight: 500;
  margin-bottom: 5px;
}
.user-details .input-box input{
  height: 45px;
  width: 100%;
  outline: none;
  font-size: 16px;
  border-radius: 5px;
  padding-left: 15px;
  border: 1px solid #ccc;
  border-bottom-width: 2px;
  transition: all 0.3s ease;
}
.user-details .input-box input:focus,
.user-details .input-box input:valid{
  border-color: #ff3153;
}
 form .gender-details .gender-title{
  font-size: 20px;
  font-weight: 500;
 }
 form .category{
   display: flex;
   width: 80%;
   margin: 14px 0 ;
   justify-content: space-between;
 }
 form .category label{
   display: flex;
   align-items: center;
   cursor: pointer;
 }
 form .category label .dot{
  height: 18px;
  width: 18px;
  border-radius: 50%;
  margin-right: 10px;
  background: #d9d9d9;
  border: 5px solid transparent;
  transition: all 0.3s ease;
}
 #dot-1:checked ~ .category label .one,
 #dot-2:checked ~ .category label .two,
 #dot-3:checked ~ .category label .three{
   background: #ff3153;
   border-color: #d9d9d9;
 }
 form input[type="radio"]{
   display: none;
 }
 form .button{
   height: 45px;
   margin: 35px 0
 }
 form .button input{
   height: 100%;
   width: 100%;
   border-radius: 5px;
   border: none;
   color: #fff;
   font-size: 18px;
   font-weight: 500;
   letter-spacing: 1px;
   cursor: pointer;
   transition: all 0.3s ease;
   background: -webkit-linear-gradient(135deg, rgb(46, 189, 255), #cc00ff);
 }
 form .button input:hover{
  /* transform: scale(0.99); */
  background: -webkit-linear-gradient(135deg,  #cc00ff, rgb(46, 189, 255));
  }
 @media(max-width: 584px){
 .container-signup{
  max-width: 100%;
}
form .user-details .input-box{
    margin-bottom: 15px;
    width: 100%;
  }
  form .category{
    width: 100%;
  }
  .content form .user-details{
    max-height: 300px;
    overflow-y: scroll;
  }
  .user-details::-webkit-scrollbar{
    width: 5px;
  }
  }
  @media(max-width: 459px){
  .container-signup .content .category{
    flex-direction: column;
  }
} 

.included-container {
  position: absolute;
  top: 70%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: calc(100% - 10%);
  height: auto;
  display: flex;
  justify-content: space-between; /* Spread out items */
  align-items: center; /* Vertically center the items */
  gap: 60px;
}

.card {
  flex: 1 0 auto; /* Allow cards to grow and shrink as needed */
  max-width: calc((100% - 120px) / 3); /* Calculate the max-width based on container width and gap */
  height: 250px;
  background-color: rgb(253, 253, 253);
  border-radius: 5px;
  border: 1px solid rgb(230, 230, 230);
  transition: all 0.3s ease;
}

.card h3{
  font-size: 40px;
  font-weight: 700;
  margin: 20px;
  padding: 0;
  color: rgb(0, 0, 0);
}

.card p{
  font-size: 14px;
  position: relative;
  width: 200px;
  margin: 20px;
  padding: 0;
  color: rgb(0, 0, 0);
}

.flex-container{
  display: inline-flex;
}

.card:hover{
  transform: scale(0.99);
  box-shadow: 0 5px 10px rgba(0,0,0,0.25);
}

.image {
  width: 100px;
  height: 120px;
  position: relative;
  margin: 20px;
}


.info-container {
  position: absolute;
  top: 120%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: calc(100% - 10%);
  height: auto;
  display: flex;
  justify-content: space-between; /* Spread out items */
  align-items: center; /* Vertically center the items */
  gap: 60px;
}

.info-container h2{
  font-size: 40px;
  font-weight: 700;
  padding: 0;
  color: rgb(0, 0, 0);
}

.info-container p{
  font-size: 18px;
}


/* -----------------item--------------------- */

.h2-item {
  font-size: 40px;
  position: absolute;
  top: 12%;
  left: 50%;
  transform: translate(-50%, -50%); 
}

.container {
    position: absolute;
    top: 30vw;
    left: 50%;
    transform: translate(-50%, -50%); 
    width: 80vw;
    height: 80vh;
    display: flex;
    overflow-x: hidden;
    flex-direction: column;
}


.item-list {
  margin: 0 auto; 
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 20px;
  max-width: 1000px;
  padding: 30px;
}

.item-card {
  background-color: #f5f5f5;
  padding: 20px;
  width: 500px;
  border-radius: 4px;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease;
}

.item-card:hover{
  transform: scale(0.99);
  box-shadow: 0 5px 10px rgba(0,0,0,0.25);
}

.item-card__header {
  font-weight: bold;
  margin-bottom: 8px;
}

.item-card__content {
  padding: 25px 0px;
}

.item-name {
  font-size: 23px;
}

.item-category,
.item-price {
  margin-top: 8px;
  padding: 5px 0px;
}

.item-category strong,
.item-price strong {
  font-weight: bold;
}


/* ----------- FORM CREATE -------------- */

.form-create{
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: calc(100% - 10%);
    height: auto;
}

.form-create h2{
  font-size: 40px;
}

.form-create-container{
  width: 50%;
  height: 300px;
  background-color: #fff;
  padding: 25px 30px;
  border-radius: 10px;
  box-shadow: 0 5px 10px rgba(0,0,0,0.15);
  display: grid;
}

.form-create-container input{
  position: relative;
  height: 30px;
}


.box {
  position: absolute;
  top: 40%;
  left: 70%;
  transform: translate(-50%, -50%);
  height: auto;
  width: 300px;
}

/* ----------------- Buy now Button ----------------- */


.button-buy {
  appearance: button;
  backface-visibility: hidden;
  background-color: var(--darkblue);
  border-radius: 6px;
  border-width: 0;
  box-shadow: rgba(50, 50, 93, .1) 0 0 0 1px inset,rgba(50, 50, 93, .1) 0 2px 5px 0,rgba(0, 0, 0, .07) 0 1px 1px 0;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  font-family: -apple-system,system-ui,"Segoe UI",Roboto,"Helvetica Neue",Ubuntu,sans-serif;
  font-size: 100%;
  height: 44px;
  line-height: 1.15;
  margin: 12px 0 0;
  outline: none;
  overflow: hidden;
  padding: 0 25px;
  position: relative;
  text-align: center;
  text-transform: none;
  transform: translateZ(0);
  transition: all .2s,box-shadow .08s ease-in;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  width: 100%;
}

.button-buy:disabled {
  cursor: default;
}

.button-buy:focus {
  box-shadow: rgba(50, 50, 93, .1) 0 0 0 1px inset, rgba(50, 50, 93, .2) 0 6px 15px 0, rgba(0, 0, 0, .1) 0 2px 2px 0, rgba(50, 151, 211, .3) 0 0 0 4px;
}


/* ----------------- long card ----------------- */

.wrapper-container {
  position: absolute;
  top: 200%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: calc(100% - 10%);
  height: 600px;
  display: flex;
  justify-content: space-between; /* Spread out items */
  align-items: center; /* Vertically center the items */
}

.card-container {
  position: absolute;
  right: 0;
  top: 0;
  width: calc(100% - 40%);
  height: auto;
  display: flex;
  justify-content: space-between; /* Spread out items */
  align-items: right; /* Vertically center the items */
  gap: 60px;
}

.card-long{
  flex: 1 0 auto;
  height: 420px;
  background-color: rgb(253, 253, 253);
  border-radius: 10px;
  border: 1px solid rgb(255, 0, 0) !important;
  transition: all 0.3s ease;
}

.card-long video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 10px;
}

.text-area{
  position: absolute;
  top: 0;
  left: 0;
  width: 35%;
  height: 100%;
  border-radius: 10px;
}


.text-area h2{
  margin: 0;
  font-size: 40px;
}

.sort{
  position: absolute;
  top: 160%;
}
