<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/style.css">
    <title>Flow Fuse</title>
    
</head>
<body>
    <header>
        <div class="container">
            <div class="row">
              <div class="col-sm-12">
                <div class="menu btn3" data-menu="3">
                  <div class="icon"></div>
                </div>
              </div>
            </div>
          </div>
          <div class="right-1">
        <h3 class="right-h3">Login</h3>
        </div>
        <nav>
            <div class="middle">
            <h2>FLOW FUSE</h2>
        </div>
            <div class="left">
                <a href="/">MARKET</a>
                <a href="/about">TOKENS</a>
            </div>
            <div class="right">
                <a href="/contact">ABOUT</a>
                <a href="">DASHBOARD</a>
            </div>
        </nav>
    </header>
    {% block content %}{% endblock %}
      <script>
            var menus = document.querySelectorAll(".menu");
            menus.forEach(function(menu) {
            menu.addEventListener("click", function() {
                this.classList.toggle("open");
            });
            });

    </script>
</body>
</html>