{% extends 'index.html' %} {% block content %}
    
  <div class="container">
    <div class="title">Login</div>
    <div class="content">
      <form action="{{ url_for('login') }}" method="POST">
        <div class="user-details">
          <div class="input-box">
            <span class="details">Username</span>
            <input type="text" name="username" placeholder="Enter your username" required>
          </div>
          <div class="input-box">
            <span class="details">Password</span>
            <input type="password" name="password" placeholder="Enter your password" required>
          </div>
        </div>
        <div class="button">
          <input type="submit" value="Login">
        </div>
      </form>
    </div>
  </div>

{% endblock %}
