{% extends 'index.html' %} {% block content %}
<style>
  body{
    overflow: hidden !important;
  }
</style>

<div class="add">
    <a href="/new-item">New Item</a>
</div>
  <div class="container">
    <div class="item-list">
      {% for item in items %}
      <div class="item-card">
        <div class="item-image">
          <img src="{{ item.image_url }}">
        </div>
        <div class="item-card__content">
          <div class="item-card__header">
            <div class="item-name">{{ item.item_name }}</div>
            <a><span class="tag lightblue" data-category="{{ item.category }}">{{ item.category }}</span></a>
          </div>
          <div class="item-category"><strong>Description:</strong> {{ item.description }}</div>
          <div class="item-price"><strong>Price:</strong> {{ "$%.2f"|format(item.price) }}</div>
          <form action="{{ url_for('buy_action') }}" method="post">
            <input type="hidden" name="item_id" value="{{ item.id }}">
            <input type="submit" class="button-buy" value="Buy Now">
          </form>
        </div>
      </div>
      {% endfor %}
    </div>
  </div>
{% with messages = get_flashed_messages() %}
{% if messages %}
  <ul class=flashes>
  {% for message in messages %}
    <li>{{ message }}</li>
  {% endfor %}
  </ul>
{% endif %}
{% endwith %}
{% endblock %}