{% extends 'index.html' %} {% block content %}

<div class="add">
    <a href="/new-item">New Item</a>
</div>
<div class="container">
  <div class="item-list">
    {% for item in items %}
    <div class="item-card">
      <div class="item-card__header">
        <div class="item-name">{{ item.item_name }}</div>
      </div>
      <div class="item-card__content">
        <div class="item-category"><strong>Category:</strong> {{ item.category }}</div>
        <div class="item-price"><strong>Price:</strong> {{ "$%.2f"|format(item.price) }}</div>
      </div>
    </div>
    {% endfor %}
  </div>
</div>


{% endblock %}